<div class="banner">
  <ul class="center-text">
    <li><strong>drink.</strong></li>
    <li><strong>drinks.</strong></li>
    <li>often.</li>
  </ul>
  <div class="main-container">
  <form class="search-container" action="">
    <input id="search-box" type="text" class="search-box" name="q" />
    <label for="search-box">
      <span class="glyphicon glyphicon-search search-icon"></span>
    </label>
    <input type="submit" id="search-submit" />
  </form>
  <p>Search cocktails</p>
  </div>
</div>
