<h1>THis is a cocktail page</h1>

<%= @cocktail.name %>

<% @cocktail.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<% end %>

<%= cl_image_tag @cocktail.photo, height: 100, width: 200, crop: :fill %>
