<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-12" id="sticky-sidebar">
      <div class="rotated-button">
        <%= link_to new_cocktail_path, class: "add-button" do %>
          Add <i class="fas fa-plus rotate"></i> Cocktail
        <% end %>
      </div>
    </div>
  </div>
</div>

