.pop-up {
  h2 {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
  }
  .form-control {
    vertical-align: middle;
    height: 50px;
  }
}

.modal-content {
  background-color: rgba(230,230,230,0.6);
}

.new-dose {
  margin-bottom: 20px;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  letter-spacing: 1px;
  transition: 0.3s ease;
  font-weight: bold;
  margin-top: 40px;
  font-size: 25px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 35px;
  padding: 15px;
  color: white;
  &:hover {
    color: white;
    background-color: #526539;
    border: 2px solid #526539;
    box-shadow: 0 0 5px white;
  }
}
